# .gitignore


*.log
*.user
*.vbproj
Electrolux.suo
CommonClass/bin
CommonClass/obj
Core/bin
Core/obj
Electrolux/bin
Electrolux/obj
Electrolux/Log
Repuestos/bin
Repuestos/obj
Seguridad/bin
Seguridad/obj
